<%- include('./userTemplates/headerUser') %> <%- include('./userTemplates/navUser') %> 
<h1 class="search">Articles relating to "<%= search %>"</h1>


<% if (typeof error !== 'undefined') { %>
<div class="error-message">
           <p><%= error %> </p>
</div>
        <% }  else if (typeof entries === 'undefined') { %>
<div class="error-message" >
           <p>Error finding stories...</p>
</div>
        <% }  else { %>



<section class="entries-users">
  
  <div class="article-container">

  <% entries.forEach(element => { %>
  <article class="entry-card">
    <h2><%=element.title %></h2>
    <p><%= element.formatdate %></p>
    <p><%= element.extract %></p>
    <p>Contact author: <%= element.email %></p>
    <img src=<%=`/uploads/${element.image}`%>   alt=<%= element.title %> />

    <a class="buttons" href=<%= `/entry/${element.title.replaceAll(" ", "_")}/${element.email} `%>>Read More</a> 

  </article>
  <% }) %>

  </div>


  <div class="page-number-div">
<% for( let index = 1; index <= pages; index++ ) { %>

  <form id="hidden-search-form" action=<%=`/search/${index}`%> method="POST">
      
      <input
        id="hide"
        name="search"
        type="search"
        value=<%=search%>
      />


<% if (index == page) { %>
 <input class="active" type="submit" value=<%- index %> />
<%} else { %>
 <input class="buttons" type="submit" value=<%- index %> />
<% } %>


     
    </form>

<% } %>

  </div>
</section>

 <% } %>

<%- include("./userTemplates/footerUser") %>
