<%- include('./userTemplates/headerUser') %> <%-
include('./userTemplates/navUser') %> <% if (typeof error !== 'undefined') { %>
<div class="error-message">
  <p><%= error %></p>
</div>
<% } else if (typeof entry === 'undefined') { %>
<div class="error-message">
  <p>Error finding story...</p>
</div>
<% } else { %>
<section>
  <article class="one-article-card detail">
    <h1><%= entry.title %></h1>
    <p><%= entry.formatdate %></p>
    <p class="extract"><%= entry.extract %></p>
    <h4 class="author-name">Author: <%= entry.fullname %></h4>
    <img src=<%=`/uploads/${entry.image}`%> alt=<%= entry.title %> />
    <p class="content"><%= entry.content %></p>
  </article>
  <a class="buttons" href="/entries/1">Back</a>
</section>
<% } %> <%- include("./userTemplates/footerUser") %>
