<%- include('./userTemplates/headerUser') %> <%- include('./userTemplates/navUser') %> 
<h1>Articles</h1>
<% if (typeof error !== 'undefined') { %>
<div class="error-message"></div>
           <p><%= error %> </p>
</div>
        <% }  else { %>


<section class="entries-users">
  <div class="article-container">
  <% entries.forEach(element => { %>
  <article class="article-card">
    <h2><%=element.title %></h2>
    <p><%= element.formatdate %></p>
    <p><%= element.extract %></p>
    <img src=<%=`/uploads/${element.image}`%>   alt=<%= element.title %> >

    <a class="buttons" href=<%= `/entry/${element.title.replaceAll(" ", "_")}/${element.email} `%>>Read More</a> 

  </article>
  <% }) %>
   </div>

  <div class="page-number-div">
<% for( let index = 1; index <= pages; index++ ) { %>
<a class="buttons" href=<%=`/entries/${index}`%> > <%- index %></a>
<% } %>

  </div>
</section>

<% } %>

<%- include("./userTemplates/footerUser") %>
