<%- include('./adminTemplates/headerAdmin') %> <%- include('./adminTemplates/navAdmin') %> 
<h1>New Entry</h1>

<article>

<form
  id="create-entry"
  action=<%= `/admin/create/${email}` %>
    method="post" enctype="multipart/form-data">
  <input
    type="text"
    name="title"
    id="title"
   placeholder= "Title of article"
  />
  
  
  <input
    type="text"
    name="extract"
    id="extract"
    placeholder= "Title extract"
  />
  <textarea name="content" id="content">
Article content</textarea>

<input type="file" id="image" name="image" placeholder="Article image" > 

  <input
    type="text"
    name="category"
    id="category"
    placeholder= "Article category"
  />
  
  <input type="submit" />
</form >
 
</article>
<a class="buttons" href=<%= `/admin/entries/${email}/1`%>
  >Back to all services</a
>

<div class="error-message">
<% if (typeof error !== 'undefined') { %>

            <% error.forEach(element => { %>
             
             <p><%= element.msg %></p> 

            <% }) %>

        <% } %>
</div>
<%- include("./adminTemplates/footerAdmin") %>

