<%- include('./adminTemplates/headerAdmin') %> <%- include('./adminTemplates/navAdmin') %> 
<h1>Your articles</h1>

<% if (typeof error !== 'undefined') { %>
<div class="error-message"></div>
           <p><%= error %> </p>
</div>
        <% }  else { %>
         

<section class="entries-admin">
  <a class="buttons" href=<%= `/admin/form/new/${entries[0].email} `%>>Add new article</a> 
 <div class="article-container">
  <% entries.forEach(element => { %>
  
  <article class="article-card">
    <h2><%=element.title %></h2>
    <p><%= element.formatdate %></p>
    <h6><%= element.extract %></h6>
    <img src=<%=`/uploads/${element.image}`%>   alt=<%= element.title %> />
    
    

    <a class="buttons" href=<%= `/admin/entry/${element.title.replaceAll(" ", "_")}/${element.email} `%>>View</a> 
    <a class="buttons" href=<%= `/admin/form/update/${element.title.replaceAll(" ", "_")}/${element.email} `%>>Update</a> 
    <a class="buttons" href=<%= `/admin/delete/${element.title.replaceAll(" ", "_")}/${element.email} `%> >Delete</a> 
  </article>
  <% }) %>
  </div>
  <div class="page-number-div">
<% for( let index = 1; index <= pages; index++ ) { %>
<a class="buttons" href=<%= `/admin/entries/${entries[0].email}/${index}`%>> <%- index %></a>
<% } %>

  </div>
</section>

<% } %>
<%- include("./adminTemplates/footerAdmin") %>
